<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ADMINISTRADOR</h1>
    <ul>
      <li><a href="http://">Categorías</a></li>
      <li><a href="http://">Ver Archivos</a></li>
    </ul>
  </body>
</html>
